<% if (title) { %>
    <h1><%= title %></h1>
    <%} else {res.redirect("/")} %>
    <%- messages() %>
   

<p><a href="/messages-box/compose">Compose New Message</a></p>
<p><a href="/messages-box/archived">View <%- archived %> archived messages</a></p>

<h2>Inbox Messages</h2>

<%- inbox %>


