<div id="home">
  <h1>Welcome to CSE Motors!</h1>
  <div id="hero">
    <img
      src="images/vehicles/delorean-tn.jpg"
      alt="image of Delorean car"
      width="500"
      height="255"
    />

    <div id="hero-specs">
      <h2>DMC Delorean</h2>
      <ul>
        <li>3 Cup Holders</li>
        <li>Superman Doors</li>
        <li>Fuzzy Dice</li>
      </ul>
      <button>Own Today</button>
    </div>
    <div class="home-content">
      <section id="upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="upgrade-item">
          <figure>
            <img
              src="images/upgrades/flux-cap.png"
              alt="icon for flux capacitor"
            />
          </figure>
          <p><a href="#">Flux Capacitor</a></p>
        </div>
        <div class="upgrade-item">
          <figure>
            <img src="images/upgrades/flame.jpg" alt="A flame icon" />
          </figure>
          <p><a href="#">Flame Decals</a></p>
        </div>
        <div class="upgrade-item">
          <figure>
            <img
              src="images/upgrades/bumper_sticker.jpg"
              alt="icon for bumper sticker"
            />
          </figure>
          <p><a href="#">Bumper Stickers</a></p>
        </div>
        <div class="upgrade-item">
          <figure>
            <img src="images/upgrades/hub-cap.jpg" alt="icon for hub caps" />
          </figure>
          <p>Hub Caps</p>
        </div>
      </section>
      <section>
        <h3>DMC Delorean Reviews</h3>
        <div id="user-comments">
          <ul>
            <li>"So fast it's almost like travelling in time."(4/5)</li>
            <li>"coolest ride on the road"(4/5)</li>
            <li>"I'm feeling McFly!"(5/5)</li>
            <li>"The most futuristic car of our day.(4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
